.Main {
  background: purple;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding-bottom: 1rem;
  min-height: 57rem;
  width: 100rem;
}

header {
  color: #f4f4f4;
  text-align: center;
}

header a {
  display: inline-block;
  color: #f4f4f4;
  margin: 1rem;
  text-decoration: none;
  vertical-align: middle;
}

.active-link {
  color: rgb(208, 255, 0);
  font-weight: 700;
}
