.Main {
  background-color: purple;
  display: flex;
  margin: 3rem auto;
  max-height: 98vh;
  max-width: 98vw;
  padding: 1rem;
  width: 100rem;
  @include shadow;
}

.Main div {
  margin: 0.5rem;
}
